<h1>
  <%= @article.title %>
</h1>

<% @article.image.each do |image| %>
  <%= image_tag image.image.url, class: image.image.original_filename %>
<% end %>

<p>
  <%= @article.content %>
</p>

<%= link_to 'Return to All Articles', article_index_path %>

<% if user_signed_in? %>
  <%= button_to "Delete", @article, method: :delete %>
  <%= link_to 'Edit Article', edit_article_path %>
<% end %>
